<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a href="" mat-list-item>
        <mat-icon >library_books</mat-icon>
        <span>Courses</span>
      </a>
      <a href="" mat-list-item>
        <mat-icon >question_answer</mat-icon>
        <span>About</span>
      </a>
      <a href="" mat-list-item>
        <mat-icon >person_add</mat-icon>
        <span>Register</span>
      </a>
      <a href="" mat-list-item>
        <mat-icon >account_circle</mat-icon>
        <span>Login</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</mat-sidenav-container>